body {
    background: rgba(2, 2, 248, 0.658);
    font: normal 15pt Arial;
    text-align: center;
}

head {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
    
}

select#seltab {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
